<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test name="YandexMarketTest">
        <classes>
            <class name="testcases.MarketPageTest">
                <methods>
                    <include name="searchYandexMarkerPage"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>